<div class="list">
<div class="ui divided items">
    <div class="ui item" *ngFor='let recipe of recipes | async'>
        <div class="image">
            <img [src]="recipe.image" />
          </div>
          <div class="content">
            <h4 class="ui dividing header" style="color:#d96846;">{{recipe.name }}</h4>
            <p class="text">Prep time: {{recipe.prepTime}} </p>
            <p class="text"> Health score: {{recipe.score}} </p>
            <div class="categories">
              <p class="text" style="margin-bottom: 10px;"> Dish types:</p>
              <span class="category" *ngFor="let dish of recipe.dishTypes;let indeks = odd;" [ngStyle]="{background: getColorForCategory(indeks)}">
                {{dish}} </span>
            </div>
            <div>            
              <button class="ui button" type="button" (click)="deleteRecipe(recipe.idRecipe)">Delete</button>
            </div>
    </div>
</div>   
</div>     
</div> 