<div class="list">
    <div class="ui divided items">
        <div class='ui item' *ngFor='let nutritionist of nutritionists | async'>

            <div class="image">
                <img [src]='nutritionist.imgUrl' alt="Nutritionist image">
            </div>
              
            <div class='content'>
              <h4 class="ui dividing header" style="color:#d96846;">{{ nutritionist.name }} {{ nutritionist.surname }}</h4>
                <div class="text">
                  Username: {{ nutritionist.username }}
                </div>
                <div class="email text">
                  <p>{{nutritionist.email}}</p>
                </div>
                <div class="text">
                <p>Location: {{nutritionist.municipality}}, {{nutritionist.city}}</p>
                </div>
                <div class="date text">
                  <p>Date of birth: {{nutritionist.dateOfBirth}}</p>
                </div>
                <div class="categories">
                  <p class="text" style="margin-bottom: 10px;">Categories:</p>
                  <span class="category" *ngFor="let category of nutritionist.category;let indeks = odd;" [ngStyle]="{background: getColorForCategory(indeks)}">
                    {{category}} </span>
                </div>
                <div>
                <button class="ui button" type="button" (click)="deleteNutritionist(nutritionist.id)">Delete</button>
              </div>
            </div>    
        </div>
    </div>
</div>
