@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.text {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 25px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #013328;
    font-size: medium;
    font-weight: 800;
  }