<div class="ui container">
<div class="ui container1">
<div class="list filler">
    <div class="ui divided items">
        <!-- <app-trainer-info class='ui item' *ngFor='let trainer of trainers | async' [trainer]="trainer"></app-trainer-info> -->
        <app-trainer-info class='ui item' *ngFor='let trainer of trainers' [trainer]="trainer"></app-trainer-info>
    </div>


</div>
<div class="ui container2">
<button class="ui labeled icon button" style="border-radius: 15px; color:#f6f4e8;width:300px; font-size: medium; font-family: 'Monsterrat'; height: 40px; background-color:#013328" type="button" (click)="previous()" *ngIf="this.page > 1" >
    <i class="left arrow icon"></i>
    Previous
  </button>

  <button class="ui right labeled icon button" style="border-radius: 15px; color:#f6f4e8;width:300px; font-size: medium; font-family: 'Monsterrat'; height: 40px; background-color:#013328" type="button" (click)="next()" *ngIf="trainers.length == 10">
    <i class="right arrow icon"></i>
    Next
</button>
</div>
</div>

</div>
