@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
.container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  background-color: #f6f4e8;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textHeader {
text-align: center;
color: white;

}

.grid {
  position: relative;
  display: flex;
  justify-content: center;
  color: #d96846;
  text-align: center;
  font-size: 20px;
}
.naslov {
  color: #d96846;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.text {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 25px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #013328;
  font-size: medium;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
}

.column p{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #013328;
  font-weight: 500;
}

.active {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}