
<div class="image">
    <img [src]='nutritionist.imgUrl' alt="Nutritionist image">
  </div>

  <div class='content'>
    <h4 class="ui dividing header" style="color:#d96846;">{{ nutritionist.name }} {{ nutritionist.surname }}</h4>
    <div class='text'>
      <p>Username: {{ nutritionist.username }}</p>
    </div>
    <div *ngIf = "isSomeoneLoggedIn">
    <div class="email text">
      <p>Email: {{nutritionist.email}}</p>
    </div>
    <div class="text">
      <p>Location: {{nutritionist.municipality}}, {{ nutritionist.city }}</p>
    </div>
    <div class="date text">
      <p>Date of birth: {{nutritionist.dateOfBirth}}</p>
    </div>
    <div class="text">
      <p>Price: {{ nutritionist.approximatePrice }} €</p>
    </div>
    <div class="categories">
      <p class="text" style="margin-bottom: 10px;"> Categories:</p>
      <span class="category" *ngFor="let category of nutritionist.category;let indeks = odd;" [ngStyle]="{background: getColorForCategory(indeks)}">
        {{category}} </span>
    </div>

    <div>Rating: </div>
    <div class="extra">
      <div [ngSwitch]="nutritionistRating()">
        <span *ngSwitchCase="RatingEnum.Excellent" class="ui green tag label">{{ nutritionistRating() }}</span>
        <span *ngSwitchCase="RatingEnum.Good" class="ui blue label">{{ nutritionistRating() }}</span>
        <span *ngSwitchCase="RatingEnum.Average" class="ui yellow tag label">{{ nutritionistRating() }}</span>
        <span *ngSwitchCase="RatingEnum.NotRated" class="ui white tag label">{{ nutritionistRating() }}</span>
        <span *ngSwitchDefault class="ui red tag label"> {{ nutritionistRating() }} </span>
      </div>
    </div>

    <div>
        <p>Number of rates: {{ nutritionist.numberOfCustomer }}</p>
    </div>

    <div class="mat-h2">Rate this nutritionist:</div>
    <button mat-icon-button="accent" *ngFor="let r of ratingArr, index as i" (click)='onClick(i)'>
      <mat-icon>
        {{ returnStar(i) }}
      </mat-icon>
    </button>
    <br>
    <button class="ui button" *ngIf="addingIsPossible" (click)="nutritionistAddToFavorits()">Add to favorites</button>



    </div>


  </div>
