@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.mycontainer {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  background-color: #f6f4e8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.ui.menu{
  background-color:  #013328;
  width: 39.5%;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
  margin: auto;
  font-size: large;
  
}

.ui.menu .item{
  color: white;
  
}

.ui.menu .active.item{
  background-color: #d96846;

}

.ui.tab.attached.segment{
  background-color: transparent;
  border:none;
}
h1{
  color:  #d96846;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  font-weight: 800;
  font-style: oblique;
}


.signIn{
  display: flex;
  justify-content: center;
  font-size: 20px;
  
}

.signIn a{
  color:  #d96846;
  font-style: italic;
}