<body class="mycontainer">
    <div class="ui container">
      <h1>Become member of StartFit</h1>

      <div class="ui top attacked tabular menu">
        <a class="item active" data-tab="first">Regular user</a>
        <a class="item" data-tab="second">Trainer</a>
        <a class="item" data-tab="third">Nutritionist</a>
      </div>

      <div class="ui attached tab segment active" data-tab="first">
        <app-signup-regular-user></app-signup-regular-user>
      </div>
      <div class="ui attached tab segment" data-tab="second">
        <app-signup-trainer></app-signup-trainer>
      </div>
      <div class="ui attached tab segment" data-tab="third">
        <app-signup-nutritionist></app-signup-nutritionist>
      </div>
      <div class="signIn">
        <p>One of us? <a href="/signin"> Sign in</a></p>
      </div>
    </div>

</body>

