<div class="myform">
  <span class="circle one"></span>
  <span class="circle two"></span>
  <form autocomplete="off" [formGroup]='trainerSigninForm' (ngSubmit)="signIn()">

    <div class="input-container form-group" [ngClass]="focusUsername()">
      <label>Username</label>
      <input type="text" formControlName="username" class="input">
      <span>Username</span>
    </div>

    <div class="input-container form-group" [ngClass]="focusPassword()">
      <label>Password</label>
      <input type="password" formControlName="password" class="input">
      <span>Password</span>
    </div>

    <button class="btn" type="submit">
      Sign in
    </button>

  </form>
</div>