@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
.mycontainer {
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 10rem;
    background-color: #f6f4e8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }
.ui.menu{
  background-color:  #013328;
  width: 34%;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
  
.ui.menu .item{
  color: white;
  
}

.ui.menu .active.item{
  background-color: #d96846;

}

.ui.tab.attached.segment{
  background-color: transparent;
  border:none;
}

.newHere{
  margin: 5px;
  font-size: 20px;
  
}

.newHere a{
  color:  #d96846;
  font-style: italic;
}

h1{
  color:  #d96846;
  font-family: 'Montserrat', sans-serif;
}

img {
  position: relative;
  width: 30%;
  height: 35%;
  margin-left: 40px;
  margin-right: 40px;
}