.container{
    display: flex;
}
.first_column {
    width: 30%;
    position: relative;
    }
.second_column {
        margin-left: 30px;
}

.field input {
        outline: none;
        border:none;
        background: none;
        padding: 0.6rem 1.2rem;
        color: #013328;
        font-weight: 500;
        font-size: 0.95rem;
        border-radius: 20px;
        transition: 0.3s;
}
 
::-webkit-file-upload-button, .button{
    padding: 0.6rem 1.3rem;
    background-color: #d96846;
    border: 2px solid #fafafa;
    font-size: 12px;
    color: #fafafa;
    line-height: 1;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.button{
    font-size: 1.2rem;
    margin-top: 10px;
}

::-webkit-file-upload-button:hover, .button:hover {
    background:linear-gradient(135deg, transparent 20%,#d96846);
    color: #d96846;
  }

  .ui.form label{
    color:#013328;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    padding: 5px;
    font-style: italic;
}

.ui.dividing.header{
    color:  #d96846;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 10px;
    border-color: #013328;
    border-width: 3px;
   
  }
.password{
    margin-top: 15px;
}
  .password input{
    background-color: transparent;
    border: 2px solid #013328;
    border-radius: 10px;
    font-size: 10px;
  }

img{
    border-radius: 50%;
    width: 80%;
    height: 100%;
}
.text{
    font-size: large;
    color: #013328;
    margin: 10px;
}

.field input:focus {
    outline: none;
    border: 2px solid #d96846;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #013328;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 20px;
    transition: 0.3s;
  }
  .categories{
      display: inline-block;
      margin-bottom: 20px;
  }
  .category{
      margin: 10px;
      margin-top: 10px;
      padding: 10px;
      color: #fafafa;
      border-radius: 15px;
      
  }

    @media (min-width: 568px) {
    html, body {
    height: 100%;
    }
    }
