<div class="container">
  <div class="first_column">
    <div  *ngIf="userIn">
      <img [src]="user.imgUrl" alt="User's profile picture" />
    </div>
    <div *ngIf="trainerIn">
      <img [src]="trainer.imgUrl" alt="Trainer's profile picture" />
    </div>
    <div *ngIf="nutritionistIn">
      <img [src]="nutritionist.imgUrl" alt="Nutritionist's profile picture" />
    </div>
    <div>
      <form class="ui form" [formGroup]="imgForm" (ngSubmit)="changePicture()">
        <div class="field">
          <h4 class="ui dividing header">Change profile picture</h4>
          <input type="file" formControlName="imgUrl" (change)="handleFileInput($event)" />
        </div>
        <button class="button" type="submit">Change picture</button>
      </form>
    </div>
  </div>
  <div class="second_column">
    <div *ngIf="userIn">
      <div class='text'>
        <b>Username: </b> {{ user.username }}
      </div>
      <div class='text'>
       <b>Name: </b>  {{ user.name }}
      </div>
      <div class='text'>
        <b>Surname: </b> {{ user.surname }}
      </div>
      <div class="email text">
        <b>Email: </b> {{user.email}}
      </div>
      <div class="text">
        <b>DateOfBirth:  </b> {{user.dateOfBirth}}
      </div>
      <div class="text">
        <b>Location:  </b> {{user.municipality}}, {{user.city}}
      </div>
    </div>
    <div *ngIf="trainerIn">
      <div class='text'>
        <b>Username: </b> {{ trainer.username }}
      </div>
      <div class='text' >
        <b>Name: </b> {{ trainer.name }}
      </div>
      <div class='text' >
        <b>Surname: </b>  {{ trainer.surname }}
      </div>
      <div class="email text" >
        <b>Email: </b> {{trainer.email}}
      </div>
      <div class="text">
        <b>DateOfBirth:  </b> {{trainer.dateOfBirth}}
      </div>
      <div class="text" >
        <b>Location:  </b> {{trainer.municipality}}, {{trainer.city}}
      </div>
      <div class="categories">
        <p class="text"> <b>Categories:</b></p>
        <span class="category" *ngFor="let category of trainer.category;let indeks = odd;" [ngStyle]="{background: getColorForCategory(indeks)}">
          {{category}} </span>
      </div>
    </div>
    <div *ngIf="nutritionistIn">
      <div class='text' >
        <b>Username: </b>  {{ nutritionist.username }}
      </div>
      <div class='text' >
        <b>Name: </b>{{ nutritionist.name }}
      </div>
      <div class='text' >
        <b>Surname: </b> {{ nutritionist.surname }}
      </div>
      <div class="email" >
        <b>Email: </b> {{nutritionist.email}}
      </div>
      <div class="text">
        <b>DateOfBirth:  </b> {{nutritionist.dateOfBirth}}
      </div>
      <div class="text" >
        <b>Location:  </b> {{nutritionist.municipality}}, {{nutritionist.city}}
      </div>
      <div class="categories">
        <p class="text"> <b>Categories:</b></p>
        <span class="category" *ngFor="let category of nutritionist.category;let indeks = odd;" [ngStyle]="{background: getColorForCategory(indeks)}">
          {{category}} </span>
      </div>
    </div>
      
      <button class="button" (click)="enableChangeFields()">Change password</button>

      <div class="password" [ngStyle]="{ display: showChangeFields ? 'block' : 'none' }">

        <form class="ui form" [formGroup]="passForm" (ngSubmit)="changePassword()">
          <div class="twelve wide field">
            <label>old Password</label>
            <input type="password" formControlName="oldPassword" />
          </div>
          <div class="twelve wide field">
            <label>new Password</label>
            <input type="password" formControlName="newPassword" />
          </div>
          <button class="ui button" type="submit" (click)="disableChangeFields()">Finish</button>
        </form>
      </div>

  </div>

  <div>
    <button class="ui button" type="button" (click)="deleteProfile()">Delete profile</button>
  </div>

</div>