
<div style="background-color: #013328;" class="ui inverted secondary menu">
    <a class="item">
        <a routerLink="/" class="ui medium image">
            <img src="assets/img/logo.png">
          </a>
    </a>

    <div class="right menu">

       <ng-template [ngIf]="!homeIsActive">
            <a routerLink="/find-recipe" class="ui item">
                Recipes
            </a>
            <a routerLink="/find-trainer" class=" ui item">
                Trainers
            </a>
            <a routerLink="/find-nutritionist" class="ui item">
                Nutritionists
            </a>

        </ng-template>
        <a routerLink="/about" class="ui item">
            About
        </a>
        <a routerLink="/contact" class="ui item">
            Contact
        </a>


        <div style="display: inline-flex;" *ngIf="this.isSomeoneLoggedIn;else signIn">
            <a routerLink="/profile" class="ui item" >
                <img class="ui avatar image" [src]="this.profilePic">
                Profile   
            </a>
            <a class="ui item" (click)="logout()">Logout</a>
            </div>
                <ng-template #signIn>
                    <a routerLink="/signin" class="ui item">
                        Sign In
                    </a>
                </ng-template>

    </div>
</div>
