
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  background-color: #f6f4e8;
  background-image: url(/assets/img/background.jpg);
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h-text {
  color: #d96846;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size:80px;
  font-style: italic;
  padding: 20px;
}

  .logo { 
    margin-top: 20px;
    float: left; 
    width: 200px; 
    
} 

.navigation {
  float: right;
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 10px 10px;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: darkseagreen;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.flip-cards{
  width: 100%;
  display: flex;
  justify-content: center;
  }

.flip-card {
  padding: 10px;
  display: inline-block;
  background-color: transparent;
  width:400px;
  height: 350px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardPic {
  position: relative;
  width: 70%;
  height:70%;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  width: 100%;
  background-color: #bacec1;
}

.flip-card-back {
  background-color: #bacec1;
  color: #d96846;
  transform: rotateY(180deg);
  padding-top: 20%;
}

.card-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 40px;
  margin-right: 40px;
  font-size: large;
  text-align: justify;
}

.cardCaption {
  color: #d96846;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  font-weight: 800;
  font-style: bold;

}