
<div class="back_div">
  <div class = "ingredient_container" style="padding-top: 5px; padding-left:10px;">
  <div class="field">
    <input onfocus="this.value=''" type="text" name="add-ing"  id="ing_value" style="text-alignt:center; height:40px; float: left; width: 70%; border-width: 2px; border-color: #013328;">
    <button style="color:#fff;width:100px; height: 40px; background-color:#013328" class= "btn btn-white-view" (click)=searchForRecipes()>Search
    </button>
  </div>
 
  <button class= "btn btn-white-view"  style="color:#fff;width:100px; height: 40px; background-color:#013328" type="button" (click)="addIngredient()">Add</button>
 <div style="padding-left: 3px;" *ngIf="ingredients">
   <br>
    <div *ngFor="let ing of ingredientsToArray()" style="margin-left:5px;text-align:center;display:inline-block; width:150px; height:35px; background-color:#fff; color:#013328; border-style:solid;border-width: 2px; border-color: #013328;">{{ing}} 
    <button *ngIf="ing" class="btn btn-white-view" style="float:right; display: inline-block; color:#fff;width:30px; height: 30px; background-color:#013328" type="button" (click)="removeIngredient(ing)" >x</button>
  </div>
  </div>
</div>
<div class=naslov style= " padding-left: 5px; width: 50%; padding-top: 5%;"> {{jokeText}}
</div>
</div>  
