@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0px;
  
  }

.back_div{
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  background-image: url(/assets/img/kitchen.jpg);
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

    
.ingredient_container {
  background-color:transparent; 
  width:40%; 
  margin:1px;

}

.naslov {
  color: #d96846;
  font-size: 25px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
}
