<div class="container">
<div class="naslov">Dishes made of {{this.ingredients}} </div>

<div class="ui divided items" style="margin: 10px;padding:50px;width:50%;">
  <app-recipe class="ui item" style="border-top: 0px; border-left: 0px; border-top: 0px; border-bottom-width: 1px; border-bottom-color: #013328; border-bottom-style: solid; margin:10px;" *ngFor="let recipeFromArray of recipes | async" [recipe]="recipeFromArray"></app-recipe>
</div>