<!--div class="ui container">
  <h1>Find trainers</h1>

  <div class="ui top attacked tabular menu">
    <a class="item active" data-tab="first">Trainers by location</a>
    <a class="item" data-tab="second">Best rated trainers</a>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="first">
    <form class = "ui form" (ngSubmit)="findTrainer()">

      <div class = "required fluid field">
        <label>City</label>
        <input type="text" name="city">
      </div>

      <div class = "fluid field">
        <label>Municipality</label>
        <input type="text" name="municipality">
      </div>

      <button class="ui fluid button" type="submit">
        Find trainers
      </button>

    </form>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <app-trainers-list></app-trainers-list>
  </div>
</div> -->
<div class="ui container">
  <div class="firstColumn">
    <form class="ui form" [formGroup] = "findTrainerForm">
      <div class=" filler">
        <h4 class="ui dividing header">Price</h4>
        <div class="fields">
          <div class="four wide field">
            <input class="input" type="number" formControlName="minPrice" maxlength="16" placeholder="Min">
          </div>

          <div class="four wide field">
            <input type="number" formControlName="maxPrice" maxlength="3" placeholder="Max">
          </div>
        </div>
      </div>

      <div class="filler">
        <h4 class="ui dividing header">Location</h4>
        <div class="eight wide field">
          <div class="ui icon input">
            <input type="text" placeholder="Search city..." formControlName="city">
            <i class="circular search link icon"></i>
          </div>
        </div>
        <div class="eight wide field">
          <div class="ui icon input">
            <input type="text" placeholder="Search municipality..." formControlName="municipality">
            <i class="circular search link icon"></i>
          </div>
        </div>
    </div>
    <div class="filler">
      <h4 class="ui dividing header">Category</h4>
      <div>
        <div class="field" *ngFor="let category of categoriesFormArray.controls; let i = index" formArrayName="categories" >
        <label> {{categories[i]}}</label>
        <input type="checkbox" [formControlName]="i">
        </div>
      </div>
    </div>

      <div class="filler">
        <div class='field'>
          <div class="ui toggle checkbox">
            <input type="checkbox" formControlName="sort">
            <label>Sorted by top rated trainers</label>
          </div>
        </div>
      </div>
      <button class="ui fluid button" (click)="submit()">
        FIND
      </button>
    </form>
  </div>

</div>
