
<head>
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</head>
<div style = "background-color: #013328;" class="ui vertical footer segment center aligned">
      <img src="assets/img/logo.png" class="ui centered small image">
      <div class="ui large inverted horizontal divided link list">
        <a class="copyright item" routerLink="/">StartFit © 2021</a>
        <a class="item" routerLink="/find-recipe">Recipes</a>
        <a class="item" routerLink="/find-nutritionist">Nutritionist</a>
        <a class="item" routerLink="/find-trainer">Trainer</a>
        <a class="item" routerLink="/signin">Login</a>
        <a class="item" routerLink="/about">About</a>
        <a class="item" routerLink="/contact">Contact</a>
      </div>
</div>