
  .list{
  overflow-y: scroll;
  height: 80vh;
  color: #013328;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  }

  .ui.container{
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/assets/img/nutritionists_faded.jpg);
    background-size: 100% 100%;
    color: #013328;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  }

  .ui.container1 {
    flex-direction: column ;
    display: flex;
  }

  .ui.container2 {
    padding: 2rem;
    flex-direction: row ;
    display: flex;
  }

  .filler {
    background-color: rgb(256, 256, 256, 0.7);
    border-radius: 20px;
  }
  .ui.item{
    width:800px;

  }
