<div class="ui container">
  <div class="ui container1">
  <div class="list filler">
    <div class="ui divided items">
        <!-- <app-nutritionist-info class='ui item' *ngFor='let nutritionist of nutritionists | async' [nutritionist]="nutritionist"></app-nutritionist-info> -->
        <app-nutritionist-info class='ui item' *ngFor='let nutritionist of nutritionists' [nutritionist]="nutritionist"></app-nutritionist-info>
    </div>


</div>
<div class="ui container2">
<button class="ui labeled icon button" style="border-radius: 15px; color:#f6f4e8;width:300px; font-size: medium; font-family: 'Monsterrat'; height: 40px; background-color:#013328" type="button" (click)="previous()" *ngIf="page > 1">
    <i class="left arrow icon"></i>
    Previous
  </button>

  <button class="ui right labeled icon button" style="border-radius: 15px; color:#f6f4e8;width:300px; font-size: medium; font-family: 'Monsterrat'; height: 40px; background-color:#013328" type="button" (click)="next()" *ngIf="nutritionists.length == 10">
    <i class="right arrow icon"></i>
    Next
</button>
</div>
</div>

</div>
